body {
  width: 350px;
  height: 350px;
  -webkit-font-smoothing: antialiased;
}

pre {
  font-size: 13px;
  overflow: auto;
}

a {
  font-size: 15px;
  cursor: pointer;
  color: blue;
}

.Button {
  position: relative;
  left: 120px;
  top: 190px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #49B882;
  border-style: none;
  padding: 3px 15px 5px;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  background-color: #49B882;
  color: #fff;
  margin: 10px;
}

.Button:hover {
  background-color: #49B882;
}

.Button:focus {
  outline: none;
}

.Highlight-line::before {
  content: counter(loc);
  counter-increment: loc;
  position: absolute;
  left: 22px;
  opacity: 0.5;
}

.Highlight-keyword {
  font-weight: bold;
  color: #403E3B;
}

.Highlight-class {
  color: #de6339;
}

.Highlight-constant {
  color: #268bd2;
}

.Highlight-function,
.Highlight-method {
  color: #49B882;
}

.Highlight-boolean,
.Highlight-number {
  color: #6c71c4;
}

.Highlight-string {
  color: #e2a413;
}

.Highlight-comment {
  color: #A59985;
}

.Highlight-punctuation,
.Highlight-operator {
  color: #A59985;
}
