pre {
  font-size: 13px;
  overflow: auto;
}

.button {
  position: relative;
  left: 120px;
  top: 190px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #49B882;
  border-style: none;
  padding: 3px 15px 5px;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  background-color: #49B882;
  color: #fff;
  margin: 10px;
}

.button:hover {
  background-color: #49B882;
}

.button:focus {
  outline: none;
}
